extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-error(3000)
  h1 #{pageTitle}
  form(action=`${prefixAdmin}/products/create` class="form-create" id="form-create-product" method="POST" enctype="multipart/form-data")
    .form-group
      label(for="title" class="label") Title
      input(type="text" class="input-create" id="title" name="title")
    .form-group
      label(for="description" class="label") Description
      textarea(name="description" class="input-desc" id="description" rows="5")
    .form-group
      label(for="price" class="label") Price
      input(type="number" class="input-number" id="price" name="price" value="0" min="0")
    .form-group
      label(for="discount" class="label") Perent Discount
      input(type="number" class="input-discount" id="discount" name="discountPercentage")
    .form-group
      label(for="stock" class="label") Quantity
      input(type="number" class="input-stock" id="stock" name="stock")
    div(class="form-group" upload-image)
      label(for="thumbnail" class="label") Thumbnail
      input(type="file" class="input-thumbnail" id="thumbnail" name="thumbnail" accept="image/*" upload-image-input)
      img(src="" alt="" class="upload-image-preview" upload-image-preview)
    .form-group
      label(for="position" class="label") position
      input(type="number" class="input-position" id="position" name="position" min="1" placeholder="Auto Increament")
    .form-group.form-check
      input(type="radio" class="input-radio" id="statusActive" name="status" value="active" checked)
      label(for="statusActive" class="label") Active
    .form-group.form-check
      input(type="radio" class="input-radio" id="statusInactive" name="status" value="inactive")
      label(for="statusInactive" class="label") Inactive
    .form-group
      button(type="submit" class="btn btn-form-create") Create New Product