header.header
  .container-fluid
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/admin/dashboard")
            img(src="/images/logo.svg" alt="Logo" width="40")
      .col-9